  <div class="try">
    <div class="sub-try">
      <div class="main">
        <div class="con-1">
          <span>** Only for Mens</span>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Head Count</th>
                <th scope="col">AC</th>
                <th scope="col">Non AC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2 sharing</th>
                <td>7500</td>
                <td>6500</td>
              </tr>
              <tr>
                <th scope="row">3 sharing</th>
                <td>6500</td>
                <td>5500</td>
              </tr>
              <tr>
                <th scope="row">4 sharing</th>
                <td>5000</td>
                <td>4000</td>
              </tr>
              <tr>
                <th scope="row">5 sharing</th>
                <td>4700</td>
                <td>3700</td>
              </tr>
              <tr>
                <th scope="row">6 sharing</th>
                <td>-</td>
                <td>3500</td>
              </tr>
              <tr>
                <th scope="row">8 sharing</th>
                <td>-</td>
                <td>3000</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>



  
