<div>
    <header>
        <a class="logo" href="">LOGO</a>
            <ul  class="nav-1">
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a></li>
                <li><a routerLink="/facilities" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Facilities</a></li>
                <li><a routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Gallery</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Reach Us</a></li>
            </ul>
    </header>
</div>




