h1{
    font-size: 100px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

ul li{
    font-size: 1.25rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.25rem;
}