<div>
    <app-navbar></app-navbar>
    <div>
        <h1>Features and Facilities</h1>
    </div>
    <h2>Mansion Facilities</h2>
    <ul>
        <li>INVERTER Backup</li>
        <li>A/C & non A/C Rooms</li>
        <li>Common Hall with Colour Tele Vision with DTH connection</li>
        <li>Mineral Water</li>
        <li>24 hours Water and Electricity</li>
        <li>Wardrobes</li>
        <li>Hot Water For Bathing</li>
        <li>First Aid Box</li>
        <li>Fire Extinguishers</li>
        <li>24/7 CCTV surveilance</li>
    </ul>
    <br><br><br>
    <h2>Located very near to</h2>
    <ul>
        <li><a href="https://www.google.com/maps/dir/BEST+MANSION+CHENNAI,+21-A,+Anna+Ave,+Anna+Avenue,+Arumbakkam,+Chennai,+Tamil+Nadu+600106/Koyambedu+Bus+Stand,+koyambedu+bus+terminus,+Koyambedu,+Chennai,+Tamil+Nadu/@13.0712858,80.2013913,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5266a1d126f4d5:0xdfa41b46176f657d!2m2!1d80.2116927!2d13.0727848!1m5!1m1!1s0x3a52677f9248d4d9:0x326062f7766a0253!2m2!1d80.2055453!2d13.0663802!3e0" target="_blank"> Koyambedu CMBT Bus Terminal</a></li>
        <li><a href="https://www.google.com/maps/dir/BEST+MANSION+CHENNAI,+Anna+Avenue,+Arumbakkam,+Chennai,+Tamil+Nadu/Ampa+Skywalk,+Balavinayagar+Nagar,+Chennai,+Tamil+Nadu/@13.074982,80.2144863,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5266a1d126f4d5:0xdfa41b46176f657d!2m2!1d80.2116927!2d13.0727848!1m5!1m1!1s0x3a5266858b5bbbc7:0xe307a05b529b36a4!2m2!1d80.2214432!2d13.0734711!3e0" target="_blank">AMPA MALL (Skywalk, one of biggest Malls with 7 movie theatres in Chennai)</a></li>
        <li><a href="https://www.google.com/maps/dir/BEST+MANSION+CHENNAI,+Anna+Avenue,+Arumbakkam,+Chennai,+Tamil+Nadu/Arumbakkam+MTC+Bus+STAND,+E.V,+Ramaswamy+High+Road,+Arumbakkam,+Chennai,+Tamil+Nadu+600106/@13.076563,80.2109553,17.53z/data=!4m14!4m13!1m5!1m1!1s0x3a5266a1d126f4d5:0xdfa41b46176f657d!2m2!1d80.2116927!2d13.0727848!1m5!1m1!1s0x3a5266a12aaf7853:0x7f6b4cf1b1226fcd!2m2!1d80.204285!2d13.0767484!3e0" target="_blank">2 Minutes distance to local bus stops and easy access to Nungambakkam railway station</a></li>
        <li><a href="https://www.google.com/maps/search/ATMs/@13.0727848,80.209504,17z/data=!3m1!4b1!4m7!2m6!3m5!2sBEST+MANSION+CHENNAI!3s0x3a5266a1d126f4d5:0xdfa41b46176f657d!4m2!1d80.2116927!2d13.0727848" target="_blank">ATM centers</a></li>
        <li><a href="https://www.google.com/maps/dir/BEST+MANSION+CHENNAI,+21-A,+Anna+Ave,+Anna+Avenue,+Arumbakkam,+Chennai,+Tamil+Nadu+600106/Sundaram+Medical+Foundation+Dr.+Rangarajan+Memorial+Hospital,+4th+Avenue,+AH+Block,+Shanthi+Colony,+Anna+Nagar,+Chennai,+Tamil+Nadu/@13.0776795,80.2052411,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x3a5266a1d126f4d5:0xdfa41b46176f657d!2m2!1d80.2116927!2d13.0727848!1m5!1m1!1s0x3a52666bfc66380d:0x158c2ce2fe86c7bc!2m2!1d80.2069314!2d13.0823769!3e0"> Very near to Sundaram Medical Foundation hospital, INDIAN HOSPITAL</a></li>
        <li>3 Cinema Theaters
            <ul>
                <li>VR Chennai</li>
                <li>Nexus Forum Vijaya Mall</li>
                <li>AMPA SKYWALK</li>

            </ul>
        </li>
    </ul>
</div>

