<app-navbar></app-navbar>
<div>
    <form action="post">
        <input type="text" class="" placeholder="Full Name">
        <input type="text" class="" placeholder="Contact Number">
        <input type="text" class="" placeholder="Email id">
        <label for="inq">Inquiry</label>
        <input type="radio" name="inq" id="">
        <label for="inq">Suggestion</label>
        <input type="radio" name="feed" id="">
        <input type="text" placeholder="Here you go !">
        <button class="btn btn-primary">Submit</button>
        <div>One or more fields are empty</div>
        <div>Form Submitted successfully ! We will contact you soon</div>
        <div>Thanks for your feedback</div>
    </form>
</div>